  <form id='add_animal' action ='/animals' method='post'>
    <input type='text' name='name' placeholder='name'>
    <input type='text' name='breed' placeholder='breed'>
    <input type='text' name='gender' placeholder='gender'>
    <input type='text' name='status' placeholder='status (orphan or adopted'>
    <input type='submit'>
  </form>
